#box {
    background: linear-gradient(226deg, #b0f1e3, #0365d4, #2f2e30);
    /* background: radial-gradient(ellipse at top, #0365d4, #b0f1e3), radial-gradient(ellipse at bottom, #b0f1e3, transparent); */
    /* background-size: 600% 600%; */
}
.table {
    background: black;
    border-color: red;
    border-width: 2px;
}